body {
  font-family: Arial;
  text-align: center;
  background-color: #f5f5f5;
}

.gallery {
  margin: 20px;
}

.map {
  background: white;
  padding: 15px;
  margin: 20px auto;
  width: 450px;
  border-radius: 10px;
}
